img {
  height: 200px;
  width: 200px;
}


#red{
  color: red;
}

#blue {
  color: blue;
}

#orange {
  color: orange;
}

#green {
  color: green;
}

#yellow {
  color: yellow;
}

*{
  font-size: 20px;
}
.color-title{
  font-weight: normal;
}